<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <img src="/img/IMG_4453.JPG">
    <p>Created by {{name}}</p>
    {{>footer}}

</body>

</html>